body{
      font-family: 'Montserrat'
}

h1{
  font-family: 'Montserrat', sans-serif; font-size: 3.5rem; line-height: 1.5; font-weight: 900;
}

h3{
  font-weight: bold;
}



#title{
  background-color: #ff4c68;
  color:white;
}



.container-fluid{
  padding: 3% 15%;
}



.title-image {
  width: 60%;
  -webkit-transform:rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}



/* Navigation Bar */

.navbar{
  padding:0 0 3.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item{

    padding: 0 18px;
}

.nav-link{
     font-size: 1.2rem;
}

/* Features */

#features{
  padding: 5% 15%;
}

.feature-box{
  text-align: center;
  padding:5%;
}

.feature-box p{
  color: #8f8f8f;
}

#features i{
  color: #f87;
  padding: 0 0 2rem;
  
  }

#features i:hover{
  color: #ff4c68;
}  

/* Download Buttons */

.dlButtons{
  margin: 5% 3% 5% 0;
}

/* My own code */
.intro{
  padding: 10% 0 0;
}
