body{
      font-family: 'Montserrat', sans-serif;
      text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

.container-fluid{
  padding: 7% 15%;
}

/* Headings */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar{
  padding:0 0 3.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item{

    padding: 0 18px;
}

.nav-link{
     font-size: 1.2rem;
}


/* title Section */

#title{
  text-align: left;
  background-color: #ff4c68;
  color:white;
}

#title .container-fluid{
  padding: 3% 15% 7%
}

.title-image {
  width: 60%;
  -webkit-transform:rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

@media(max-width: 1028px){
  #title{
    text-align: center;
  }

}

@media(max-width: 991px){
  .title-image{
    position: static;
    transform: none;
  }
}

/* Features */

#features{
  background-color: #fff;
  position: relative;
}

.feature-box{
  padding:5%;
}

.feature-box p{
  color: #8f8f8f;
}

.feature-title{
  font-size: 1.5rem;
}

#features i{
  color: #ef8172;
  padding: 0 0 2rem;

  }

#features i:hover{
  color: #ff4c68;
}

/* Testimonials section */

#testimonials{
  background-color:#ef8172;
  color:#fff;
}

.testimonial-image{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */

#press{
  background-color: #ef8172;
  padding:0 0 3%;
}
.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding: 100px;
}

.pricing-btn{
  width: 100%;
}

.pricing-col{
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Download Buttons */

.dlButtons{
  margin: 5% 3% 5% 0;
}

/* Call to Action Section */

#cta{
  background-color: #ff4c68;
  color: white;
}

/* Footer Section */



.footericon{
    margin: 10px;
}

/* My own code */
.intro{
  padding: 10% 0 0;
}
